                    <tr>
                      <td valign="top" width="auto" align="center">
                        <table border="0" cellspacing="0" cellpadding="0" >
                          <tr>
                            <td  style="height:39px;  text-align:center; background-clip: padding-box; border-radius:6px;background:#00bec5; width:118px;">
                              <a href="http://demolink.org/" target="blank_" style="text-decoration:none;color:#fff;display:block;font-size:18px;line-height:22px; padding:10px 0px; font-family: Arial,Tahoma, Helvetica, sans-serif;  margin: 0; "><multiline>Click here</multiline></a>
                            </td>
                          </tr>                          
                        </table>
                      </td>
                    </tr>   