<table border="0" cellspacing="0" cellpadding="0" style="width:600px; background-color: #33383f;" align="center" class="container">
      <!--start space height --> 
      <tr>
        <td height="28"></td>
      </tr>
      <!--end space height -->      
     
      <tr>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">           
            <tr>
              <td align="center" valign="top" style="text-transform:uppercase; text-align:center; color:#dde0e2; font-size:14px; padding: 0;font-family: Arial,Tahoma, Helvetica, sans-serif; margin: 0;">
                <multiline>wat. news. strategy. progress &copy; 2014 <a href="http://demolink.org/" style="text-decoration:none;color:#dde0e2;font-size:14px; padding: 0;font-family:Arial, Helvetica, sans-serif; margin: 0;" target="blank_">Privacy policy</a></multiline>
              </td>
            </tr>
            <!--start space height --> 
            <tr>
              <td height="28"></td>
            </tr>
            <!--end space height -->
          </table>
        </td>
      </tr>
    </table>