<table border="0" cellspacing="0" cellpadding="0" style="width:600px; background-color: #ffffff;" align="center" class="container">  
      <!--start space height --> 
      <tr>
        <td height="38"></td>
      </tr>
      <!--end space height -->    
      <tr>
        <td valign="top" style="padding:0 57px 0 59px" class="td-indent">          

          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td  align="center" valign="top" width="100%">
                <h2 style="text-align:center; font-size:30px; line-height:30px; color:#33383f; font-weight:normal; padding:0; margin: 0; font-family: Arial,Tahoma, Helvetica, sans-serif;"><singleline>See it in action</singleline></h2>
              </td>
            </tr>
            <!--start space height --> 
            <tr>
              <td height="18"></td>
            </tr>
            <!--end space height -->
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="top">
                <a href="http://demolink.org/" target="blank_"><img editable src="assets/video-img.png" alt="" width="484" style="border:none" class="container-img" /></a>
              </td>
            </tr>
            <!--start space height --> 
            <tr>
              <td height="10"></td>
            </tr>
            <!--end space height -->
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" valign="top" style="color:#303541;font-size:13px;font-weight:normal;line-height:18px;font-family: Arial,Tahoma, Helvetica, sans-serif; padding:0 32px;margin: 0;">
                <multiline>Vestibulum iaculis lacinia est. Proin dictummentum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet.</multiline>
              </td>
            </tr>
          </table>

          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td align="center" valign="top">
                <table width="128" border="0" cellspacing="0" cellpadding="0" align="center">
                  <!--start space height --> 
                  <tr>
                    <td height="22"></td>
                  </tr>
                  <!--end space height -->
                  <tr>
                    <td  style="height:43px;  text-align:center; background-clip: padding-box; border-radius:6px;background:#3a3f50;" align="center">
                      <a href="http://demolink.org/" target="blank_" style="text-decoration:none;color:#ffffff;display:block;font-size:18px !important;line-height:18px; padding:12px 0px; font-family: Arial,Tahoma, Helvetica, sans-serif;  margin: 0; vertical-align: center;"><multiline>Learn more</multiline></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--start space height --> 
      <tr>
        <td height="48"></td>
      </tr>
      <!--end space height -->
    </table>