            <table  border="0" cellspacing="0" cellpadding="0"  class="container-social" align="right" style="width:245px">

                  <!-- start space -->
                  <tr>
                    <td valign="top" height="1" class="add-18">
                    </td>
                  </tr>
                  <!-- end space -->

                  <tr>
                    <td align="center" valign="top">
                      <table border="0" cellspacing="0" cellpadding="0" align="center" width="245" class="container-490">
                        <tr>
                          <td align="left" valign="middle" width="56">
                            <a href="http://demolink.org/"  target="blank_" style="text-decoration: none;" ><img editable src="assets/facebook-icon.png" alt="" width="48" style="border:none;" hspace="0" vspace="0" /></a>
                          </td>
                          <td align="left" valign="middle" width="56">
                            <a href="http://demolink.org/"  target="blank_" style="text-decoration: none;" ><img editable src="assets/twitter-icon.png" alt="" width="48"  style="border:none;" hspace="0" vspace="0" /></a>
                          </td>
                          <td align="left" valign="middle" width="56">
                            <a href="http://demolink.org/"  target="blank_" style="text-decoration: none;" ><img editable src="assets/google-icon.png" alt="" width="48"  style="border:none;" hspace="0" vspace="0" /></a>
                          </td>
                          <td align="left" valign="middle" width="56">
                            <a href="http://demolink.org/"  target="blank_" style="text-decoration: none;" ><img editable src="assets/linkedin-icon.png" alt="" width="48"  style="border:none;" hspace="0" vspace="0" /></a>
                          </td>
                          <td>
                            <!-- start space width --> 
                            <table class="remove" width="1" border="0" cellpadding="0" cellspacing="0" align="right" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                              <tr>
                                <td width="0" height="2" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                  <p style="padding-left: 0px;">&nbsp;<img src="assets/spacer.gif" alt="" width="21"  style="border:none;" hspace="0" vspace="0" /></p>
                                </td>
                              </tr>
                            </table>
                            <!-- end space width -->
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>